section#mainTreviaSection {
    min-height: 80vh;
    background-image: linear-gradient(110deg, #9453a6, #8cbf3f, #f2cc0f, #f2f2f2, #0d0d0d);

    #mainTreviaDiv {
        margin: 0 auto;
        width: 100%;
        padding: 4rem 0rem 4rem 10vw;

        @include phone-up-to-tablet {
            padding: 1rem;
        }

        h1 {
            font-family: $headingFontFamily;
            font-size: 3vw;

            @include phone-up-to-tablet {
                font-size: 1.5rem;
            }
        }

        h2 {
            font-family: $headingFontFamily;
            font-size: 2.5vw;

            @include phone-up-to-tablet {
                font-size: 1rem;
            }
        }

        div.quiz {
            border-bottom: 1px solid darkgray;
            font-family: $textFontFamily;
            font-size: 1.5vw;
            margin-top: 1rem;

            @include phone-up-to-tablet {
                font-size: 1rem;
            }

            p {
                margin-bottom: 0.5rem;

            }

            span {
                margin-right: 2rem;
            }

            input[type="radio"] {
                margin-right: 0.5rem;
                width: 20px;
                height: 20px;

                @include phone-up-to-tablet {
                    display: block;
                    margin-top: 0.5rem;
                }

                &:checked::after {
                    width: 20px;
                    height: 20px;
                    background-color: #ffa500;
                    position: relative;
                    margin-bottom: 20px;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                    border-radius: 10%;

                    @include phone-up-to-tablet {
                        width: 15px;
                        height: 15px;
                        border-radius: 45%;
                    }
                }
            }
        }

        button {
            width: 15%;
            height: 100%;
            margin-top: 1rem;
            font-size: 2rem;
            padding: 1rem;
            background-image: linear-gradient(80deg, #8cbf3f, #f2cc0f, #f2f2f2);

            @include phone-up-to-tablet {
                width: 50%;
            }

            &:hover {
                background-image: linear-gradient(-45deg, #8cbf3f, #f2cc0f, #f2f2f2);
                padding: 1.1rem;
            }

            &:active {
                box-shadow: 5px 5px gray;
                margin-top: 1.2rem;
            }
        }
    }

    div#afterWinning {
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.85);
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        padding: 5%;

        h2 {
            font-family: $headingFontFamily;
            margin-top: 0.5%;
            color: green;
        }

        .score {
            font-size: 2rem;
            margin-top: 0.5%;

            span {
                color: green;
            }
        }

        img {
            width: 20vw;
            height: 40vh;
            margin-top: 1rem;

            @include phone-up-to-tablet {
                width: 90%;
                height: 60%;
            }
        }
    }

    div#afterLosing {
        @extend #afterWinning;

        h2 {
            color: red;
        }

        .score {
            span {
                color: red;
            }
        }
    }
}

div#quizIcon {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 30vh;
    right: 1%;
    opacity: 0.4;
    z-index: 15;

    @include phone-up-to-tablet {
        width: 40px;
        height: 40px;
        right: 2.5%;
    }

    &:hover {
        opacity: 1;
    }

    a {
        img {
            width: 80px;
            height: 80px;

            @include phone-up-to-tablet {
                width: 40px;
                height: 40px;
            }
        }
    }

}